body{
    font-family: 'Noto Sans', sans-serif;;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header Design*/
header {
    background-color:#50C878 ;
    padding: 1rem 2%;
}
    

header h1{
    margin: 0;
    color:#013220; 
}
header p {
    margin: 0;
    color:#013220; 
    letter-spacing:0.6px 
}
/* Nav Design*/
nav{
    background-color: #367588;
}
nav ul{
    list-style-type: none;
    padding: 0 2%;
    margin: 0;
    display: flex;
}
nav a{
    font-size:1.1rem;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    display: block;
    padding: 0.75rem
}
nav li.active a {
    background-color:#FFFFFF;
    color: #367588;
}
nav a:hover{
    color:#87CEEB
}

/* Main Design*/
main{
    padding: 1rem 2%;
}
main h1 {
    color: #1F6032
}
main h2{
    color: #29773E;
    margin-bottom: .2rem
}
main p{
    color: #29773E;
    margin-bottom: .2rem;
    margin: 0 0 .3rem 0;
}
main ul li {
    padding: .3rem 3%;
    background-color: #b2d4b6;
    list-style-type: circle;
    font-size: .9rem;
}

main dl dt{
    color:#013220;
    font-weight: 700;
}
main dl dd{
    color:#29773E;
    font-size: .9rem;
}

/* Footer Design*/
footer {
    background-color: #50C878;
    text-align: center;
    color: #013220;
    padding: 1rem 0;
    font-size: .9rem;
}
footer a{
    color: #013220;
}





