/* prevent problems with diffrent browsers*/
* {box-sizing: border-box;}



body{
    font-family: 'Noto Sans', sans-serif;;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header Design*/
header {
    background-color:#50C878 ;
    padding: 1rem 2%;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 1vw;
}
    

header h1{
    margin: 0;
    color:#013220; 
}
header p {
    margin: 0;
    color:#013220; 
    letter-spacing:0.6px 
}

/* Small Screens */
@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
        border-bottom: solid 1px #b2d4b6;
        color: #1F6032;
    }
    nav .active a {
        background-color: #1F6032;
        background-image: linear-gradient(#3a9d55, #29773E);
        color: white;
    }
    
    nav a:hover{
        color: #b2d4b6;
        
    }
    
}/* end of the media queary*/

/*Big Screens*/
@media only screen and (min-width: 801px) {
    
    nav {
    background-color: #367588;
    
}
nav ul {
    list-style-type: none;
    padding: 0 2%;
    margin: 0;
    display: flex;
}
nav a {
    font-size:1.1rem;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    display: block;
    padding: 0.75rem
}

nav .active a {
    background-color:#FFFFFF;
    color: #367588;
}
nav a:hover {
    color:#87CEEB
}
    
}/* end of the media queary*/









/* Main Design*/
main{
    padding: 1rem 2%;
}
main h1 {
    color: #1F6032
}
main h2{
    color: #29773E;
    margin-bottom: .2rem
}
main p{
    color: #29773E;
    margin-bottom: .2rem;
    margin: 0 0 .3rem 0;
}
main ul li {
    padding: .3rem 3%;
    background-color: #b2d4b6;
    list-style-type: circle;
    font-size: .9rem;
}

main dl dt{
    color:#013220;
    font-weight: 700;
}
main dl dd{
    color:#29773E;
    font-size: .9rem;
}






/* Image Design */
figure.wrapped {
    width: 30%;
    margin: 2% 0 2% 2%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
    
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
    color: #29773E;
}
figure.wrapped img:hover{
    box-shadow: 0px 0px 10px black;
}

.heroheisenberg {
    width: 100%;
    margin: 0;
}
.heroheisenberg img {
    width: 100%;
    height: auto;
    
    
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}
div.gallery figure {
    margin: .5rem 2% 0 0;
}
div.gallery figcaption {
    text-align:center;
    font-size: .8rem;
    color: #29773E;
}
div.gallery img:hover {
    box-shadow: 0px 0px 10px black;
}


/* Merch Design Page */
.myMerch fieldset {
    border: 1px solid #b2d4b6;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myMerch legend {
    color: #b2d4b6;
    font-size: .9rem;
}
.myMerch label {
    margin: .5rem;
}
.myMerch label, .myMerch select, .myMerch [type=text], .myMerch [type=tel], .myMerch [type=email], .myMerch textarea {
    display: block;
}
.myMerch [type=text], .myMerch [type=tel], .myMerch [type=email], .myMerch select, .myMerch textarea{
    border: solid 1px #29773E;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}
.myMerch textarea {
    height: 6rem;
}

.myMerch :required {
    background-color: #b2d4b6;
    
}

.myMerch [type=submit] {
    background-color: #b2d4b6;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 1rem 0 0 1%;
}





/* Footer Design*/
footer {
    background-color: #50C878;
    text-align: center;
    color: #013220;
    padding: 1rem 0;
    font-size: .9rem;
}
footer a{
    color: #013220;
}

header, nav, main, footer{
    max-width: 64rem;
    margin: 0 auto;
}


